#wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
}

.wbdv-sticky-top-editor {
    position: fixed;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    background-color: #3B5998;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
}

.wbdv-editor-left-pane {
    height: 100%;
    background-color: #2d467d;
}

.wbdv-editor-content {
    height: 100%;
    background-color: #ebeced;
    width: 80%;
    padding-top: 50px;
}

.wbdv-module-list {
    padding-top: 30px;
    margin-top: 10%;
}

.wbdv-content-row {
    height: 100%;
}

.wbdv-sticky-top-content {
    color: white;
    vertical-align: -webkit-baseline-middle;
    display: inline;
}

.wbdv-editor-head-icon {
    padding-left: 2%;
    padding-top: 5px;
    width: 5%;
}


.wbdv-editor-head-title {
    padding-top: 5px;
}

.wbdv-editor-head-title-text {
    display: inline;
    font-weight: lighter;
}

.nav-tabs, .nav-item, .nav-link {
    border: none !important;
    border-radius: 0.25rem;
    color: white !important;
    font-weight: lighter;
}

.disabled {
    color: #c9c7c7 !important;
}

.nav-tabs {
    margin-top: 4px;
}

.active.nav-link {
    background-color: #007bff !important;
    color: white !important;
    font-weight: lighter;
}

.wbdv-editor-lesson-tabs .active .nav-link,
.wbdv-editor-topic-ul .active .nav-link
{
    background-color: #2d467d !important;
}

.wbdv-editor-lesson-tabs .nav-item .wbdv-edit-icon,
.wbdv-editor-topic-ul .nav-item .wbdv-edit-icon {
    display: none;
}

.wbdv-editor-lesson-tabs .active .wbdv-edit-icon,
.wbdv-editor-topic-ul .active .wbdv-edit-icon
{
    display: inline;
}

.list-group-item {
    background-color: #223661 !important;
    color: white;
    font-weight: lighter;
    margin-top: 5%;
}

.list-group-item.active {
    border-color: gray;
    margin-top: 5% !important;
}

.wbdv-editor-lesson-tabs.active {
    background-color: #223661 !important;
}

.wbdv-list-delete-icon {
    margin-top: 0.3rem;
    float: right;
}

.wbdv-group-item-add {
    background-color: #3B5998 !important;
}

.wbdv-editor-nav-pills {
    margin-top: 1rem;
    background-color: #3b5998;
}

.card {
    width: 15rem !important;
}

.wbdv-course-grid-header-ownedby {
    display: inline-block;
}

.wbdv-course-grid-content {
    margin-left: 1rem;
}

.nav-link {
    display: inline;
}

.wbdv-editor-lesson-tabs-add {
    margin-left: 0.5rem;
}

.wbdv-editor-lesson-tabs-div {
    margin-top: 0.5rem;
}

.wbdv-editor-topics-add {
    color: white;
    margin-left: 1rem;
    margin-top: 0.75rem;
}

.wbdv-editor-topic-ul {
    height: 40px;
}

.wbdv-editor-topic-ul .nav-item div {
    margin-top: 0.5rem;
}