#wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
}

.wbdv-editor-left-pane {
    height: 100%;
    background-color: #2d467d;
}

.wbdv-editor-content {
    height: 100%;
    background-color: #ebeced;
    width: 80%;
    padding-top: 50px;
}

.wbdv-module-list {
    padding-top: 50px;
    margin-top: 10%;
    margin-left: 5%;
}